version: "3.9"

services:
  backend:
    build:
      context: ./backend
    container_name: task-backend
    ports:
      - "5000:5000"
    env_file:
      - ./backend/.env

  frontend:
    build:
      context: ./frontend
      args:
        VITE_API_URL: http://localhost:5000
    container_name: task-frontend
    ports:
      - "3000:80"
    depends_on:
      - backend
